*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
//    body

body{
    font-size: $font;
    font-family:  "Merriweather",  "Open Sans", "Roboto";
}




// wraper


.wraper{

    width: $max-width;
}

.container{
    width: $with-cont;
}