

.click{
    margin-top:60px !important;
}

.wrapper__inpit{
   


    &:nth-child(5){
        width: 40%;
    }

    .mesage{
        width: 100% !important
    }

}

.footer{
    .line{
        background-color: transparent;
    }
}


