
.wrapper__input{


    &:nth-child(5){
        width: 100% !important;
        margin:0;
    }


    .mesage{
        width: 100%;
    }
}

.title__header{
    width: 50% !important;
    
}


.registration{
    width: 100%;

    input{
        padding:10px
    }
}


.title__footer{
   font-size: 26px ;
}

.sometitle{

    font-size: 25px !important;
}




.main__li{
    width: 18px;
    margin:0 auto;

   
    
 
}

.sections__title{
    font-size: 20px !important;
}
.content__title{
    font-size: 25px ;
}